@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_opsz,wght.ttf) format('ttf');
  }
}

body {
    @apply font-inter
    bg-neutral-100 relative
    max-w-full h-auto
    text-neutral-900
    border-neutral-300
}

h1 {
  @apply text-4xl md:text-[38px]
  text-neutral-900
}

h3 {
  @apply text-2xl md:text-4xl
  text-neutral-900
}

h4 {
  @apply text-2xl
  text-neutral-900
}

h5 {
  @apply text-lg font-light
  text-neutral-900
}

p {
  @apply text-base font-light
  text-neutral-600
}

svg {
  @apply h-6 w-6
}

img {
  @apply bg-center bg-cover bg-no-repeat
  
}

.btn-icon-text {
    @apply flex flex-row items-center gap-2
    py-3 px-3 lg:px-5 text-base font-medium
    border border-neutral-300 rounded-lg
    cursor-pointer bg-white bg-opacity-80
    w-fit h-fit
}

.btn-icon-text-secondary {
    @apply flex flex-row items-center gap-2
    py-3 px-3 lg:px-5 text-base font-medium
    border border-white rounded-lg
    cursor-pointer text-white
    w-fit h-fit
}

.btn-text {
    @apply flex flex-row items-center
    py-3 px-5 text-base font-medium
    rounded-lg bg-amber-400
    cursor-pointer
    w-fit h-fit
}

.btn-text-secondary {
    @apply flex flex-row items-center
    py-3 px-5 text-base font-medium
    rounded-lg border cursor-pointer
     w-fit h-fit
}

.btn-icon {
    @apply cursor-pointer
}

.section-title {
  @apply text-neutral-900 font-light uppercase
}

.nav {
    @apply w-full flex-row 
    justify-between 
    p-4 xl:p-8
    bg-white lg:bg-none lg:bg-opacity-0
}

.home-body {
  @apply w-full md:w-[640px] mx-auto h-full
  border-r border-l border-neutral-100
  flex flex-col items-center
  px-4 md:px-0
}

/* hero section styles */
.hero {
  @apply flex flex-col w-full md:w-[640px]
  pt-32 gap-10 
}

.hero .welcome {
  @apply flex flex-col lg:flex-row items-center 
  gap-8 md:gap-10
}

.hero .welcome .avatar {
  @apply p-3 rounded-xl border bg-white bg-opacity-95
}

.hero .welcome .avatar img {
  @apply h-28 w-28 rounded-lg
}

.hero .welcome .greetings {
  @apply flex flex-col text-center lg:text-left
  gap-2 lg:gap-4
}

.hero .welcome .greetings h3 {
  @apply font-light text-neutral-600
}

.hero .links {
  @apply flex flex-row items-center justify-between
}

.hero .links .links-left {
  @apply flex flex-row gap-5 items-center
}

/* project section styles */
.projects {
  @apply flex flex-wrap w-full md:w-[640px]
  py-16 gap-10
}

.projects .card {
  @apply flex flex-col p-4 gap-6
  rounded-xl h-full w-full md:w-[300px]
  bg-white drop-shadow-2xl
}

.projects .card .thumbnail {
  @apply w-full h-[200px] overflow-hidden
  rounded-lg bg-neutral-100
  bg-no-repeat bg-cover bg-center
}

.projects .card .detail {
  @apply flex flex-col gap-4
}

.projects .card .detail .title-desc {
  @apply flex flex-col gap-1
}

.projects .card .detail .title-desc h5 {
  @apply font-semibold
}

.projects .card .detail .scope-visit-link {
  @apply flex flex-row justify-between items-center
}

.projects .card .detail .scope-visit-link .scope {
  @apply flex flex-row gap-3 items-center
}

.projects .card .detail .scope-visit-link .scope img {
  @apply h-6 w-6 
}

.projects .card-interested {
  @apply flex flex-col px-4 py-8 gap-8
  rounded-xl h-full w-full md:w-[300px]
}

.projects .card-interested .desc {
  @apply flex flex-col gap-5
}

.projects .card-interested .desc h3 {
  @apply font-bold
}

/* blog home section */
.blog-home {
  @apply flex flex-col w-full md:w-[640px]
  py-16 gap-10
}

.blog-home .blog-list-home {
  @apply flex flex-col gap-0 w-full
}

.blog-home .blog-list-home .card-blog-home {
  @apply flex flex-row gap-8 pl-4
}

.blog-home .blog-list-home .card-blog-home .time-line {
  @apply w-fit relative
}

.blog-home .blog-list-home .card-blog-home .time-line .line {
  @apply w-1 h-full bg-neutral-300
}

.blog-home .blog-list-home .card-blog-home .time-line .circle {
  @apply w-3 h-3 rounded-full bg-amber-500 
  absolute top-6 -left-1 border-2 border-neutral-100
}

.blog-home .blog-list-home .card-blog-home .blog-item {
  @apply flex flex-col pt-5 pb-8 gap-4
}

.blog-home .blog-list-home .card-blog-home .blog-item p.date-item {
  @apply font-normal text-sm text-neutral-900
}

.blog-home .blog-list-home .card-blog-home .blog-item .title-desc {
  @apply flex flex-col gap-1
}

.blog-home .blog-list-home .card-blog-home .blog-item .title-desc h4 {
  @apply font-bold
}

/* products section styles */
.products {
  @apply flex flex-col w-full md:w-[640px]
  py-16 gap-10
}

.products .product-list {
  @apply flex flex-wrap w-full
  gap-10
}

.products .product-list .card-product-item {
  @apply flex flex-col p-4 gap-4
  rounded-xl w-full md:w-[300px]
  border
}

.products .product-list .card-product-item svg {
  @apply h-20 w-20
}

.products .product-list .card-product-item .desc {
  @apply flex flex-col gap-2
}

.products .product-list .card-product-item .desc h4 {
  @apply font-bold
}

/* faq section styles */
.faq {
  @apply flex flex-col w-full md:w-[640px]
  pt-16 pb-24 gap-10
}

.faq .faq-list {
  @apply flex flex-col w-full
  gap-12
}

.faq .faq-list .card-faq-item {
  @apply flex flex-col p-8 gap-8
  rounded-xl h-full w-full
  bg-white drop-shadow-2xl
}

.faq .faq-list .card-faq-item .question {
  @apply flex flex-row w-full items-start
}

.faq .faq-list .card-faq-item .question .question-head {
  @apply flex flex-row pr-10 w-full items-start
  gap-3
}

.faq .faq-list .card-faq-item .question .btn-icon {
  @apply mt-1
}

.faq .faq-list .card-faq-item .question .question-head .btn-icon {
  @apply hidden md:flex
}

.faq .faq-list .card-faq-item .question .question-head h5 {
  @apply font-bold text-neutral-900
}

.faq .faq-list .card-faq-item .answer {
  @apply flex flex-row w-full h-auto
  p-8 bg-neutral-100 rounded-lg
}

/* Page Blog */
/* header blog section styles */
.header-blog {
  @apply flex flex-col w-full md:w-[640px]
  pt-32 lg:pt-16 gap-10
}

.header-blog .title-desc {
  @apply flex flex-col w-full
  gap-3 justify-center text-center
}

.header-blog .title-desc h1 {
  @apply font-bold
}

.blog-list {
  @apply flex flex-wrap w-full md:w-[640px]
  pt-12 pb-24 gap-10
}

.blog-list .card-blog-item {
  @apply flex flex-col p-4 gap-4
  rounded-xl h-full w-full md:w-[300px]
  bg-white drop-shadow-2xl
}

.blog-list .card-blog-item .thumbnail {
  @apply w-full h-[200px] overflow-hidden
  rounded-lg bg-neutral-100
  bg-no-repeat bg-cover bg-center
}

.blog-list .card-blog-item .detail {
  @apply w-full flex flex-col gap-4
}

.blog-list .card-blog-item .detail .desc {
  @apply w-full flex flex-col gap-2
}

.blog-list .card-blog-item .detail .desc p {
  @apply text-neutral-900
}

.blog-list .card-blog-item .detail .desc h5 {
  @apply text-neutral-900 font-bold
}

blog-list .card-blog-item .detail .tags {
  @apply flex flex-wrap gap-3
}

blog-list .card-blog-item .detail .tags p {
  @apply text-neutral-300 font-light text-sm
}

/* blog page detail */
.blog-content {
  @apply flex flex-col w-full md:w-[640px]
  pt-12 pb-24 gap-10
}

.blog-content .thumbnail {
  @apply w-full h-[360px] overflow-hidden
  rounded-lg bg-neutral-100
  bg-no-repeat bg-cover bg-center
}

.blog-content h3 {
  @apply text-neutral-900 font-bold
}



.footer {
  @apply flex flex-col lg:flex-row justify-between
  w-full items-center px-4 py-10 xl:p-8
  bg-neutral-900
  gap-12 md:gap-0
}

.footer-left {
  @apply flex flex-col md:flex-row gap-6 md:gap-4
  text-white text-base font-light
  text-center md:text-left
}

.footer-right {
  @apply flex flex-row gap-3
  text-neutral-400 text-base font-light
}