@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_opsz,wght.ttf) format('ttf');
  }
} */

body {
    @apply relative
    max-w-full max-h-full
    my-auto mx-0
    bg-gray-50
    text-gray-900
    font-inter
}

.h-large {
  @apply text-5xl md:text-[52px] md:leading-[56px]
}

h1 {
  @apply text-4xl md:text-[40px] md:leading-[44px]
}

h2 {
  @apply text-3xl md:text-[34px] md:leading-[40px]
}

h3 {
  @apply text-2xl md:text-[28px] md:leading-[36px]
}

h4 {
  @apply text-xl md:text-2xl 
}

h5 {
  @apply text-lg
}

p {
  @apply text-base font-light
}

svg {
  @apply h-6 w-6
}

img {
  @apply bg-center bg-cover bg-no-repeat
  
}

nav {
  @apply fixed z-50 top-3
  w-full;
}

strong {
  @apply font-medium
}

pre {
  @apply bg-gray-100 p-4 rounded-md
  w-full
}

pre code {
  @apply text-sm font-normal
}

.circle {
  @apply bg-emerald-400 rounded-full w-2 h-2;
}

/* Button */
.btn-primary {
    @apply py-2 px-4 text-center
    rounded-xl border
    font-semibold text-gray-50
    bg-emerald-700 border-emerald-400;
  }

.btn-primary:hover {
    @apply bg-emerald-500 border-emerald-200;
}

.btn-menu {
    @apply flex flex-row items-center gap-2
    py-2 pl-3 pr-2
    cursor-pointer rounded-xl
    text-gray-50 bg-gray-900
    w-fit h-fit select-none 
}

.btn-menu p {
    @apply text-base font-normal 
}

.btn-icon-text {
    @apply flex flex-row items-center gap-2
    py-2 px-2 md:pl-3 md:pr-4 text-base font-medium
    cursor-pointer
    text-gray-900
    border border-gray-300 rounded-xl
    w-fit h-fit select-none 
}

.btn-icon-text:hover {
    @apply text-gray-900
    border-gray-300
    bg-gray-200
}

.btn-link-text {
  @apply flex flex-row items-center
  text-gray-900;
}

.btn-link-text:hover {
  @apply text-emerald-500
}

.btn-icon-text span {
    @apply hidden md:contents;
}

.btn-icon {
    @apply flex flex-row items-center gap-2
    py-2 px-2 md:pl-3 md:pr-3
    cursor-pointer
    text-gray-900
    border border-gray-300 rounded-xl
    w-fit h-fit select-none 
}

.btn-icon:hover {
  @apply text-gray-900
    border-gray-300
    bg-gray-200
}


/* Menu stryle */
.menu {
  @apply w-[640px] mx-auto
  hidden
  md:flex flex-row justify-between items-center
  pl-6 pr-3 py-3
  rounded-3xl
  bg-gray-900;
}

.menu ul {
    @apply flex flex-row gap-6;
}

.menu ul li a:hover {
  @apply text-emerald-400;
}

.menu ul li .selected {
  @apply text-emerald-400 font-bold;
}

.menu ul li .unselected {
  @apply text-gray-50 font-normal;
}

/* Menu Mobile stryle */
.menu-mobile {
    @apply grid md:hidden justify-items-end
    mx-4 top-2
   ;
}

#menu-body {
  @apply flex-col gap-8 w-5/6 bg-gray-900 
  bg-opacity-50 border border-gray-700
  border-opacity-25 backdrop-blur-sm 
  rounded-xl mt-2 p-4
}

.list-menu-body {
  @apply flex flex-col gap-4;
}

.list-menu-body li a {
  @apply flex flex-row gap-2 w-full items-center
  p-2 bg-gray-900 text-gray-50
  bg-opacity-90 border border-gray-700 border-opacity-25
  rounded-xl;
}

.list-menu-body li a .icon {
  @apply p-2 bg-gray-700 text-gray-300
  border border-gray-500 border-opacity-25
  rounded-md w-fit h-fit;
}

.list-menu-body li a .label {
  @apply flex flex-col w-full;
}

.list-menu-body li a .label .title-line {
  @apply flex flex-row justify-between items-center
  w-full;
}

.list-menu-body li a .label .title {
  @apply text-base font-semibold;
}

.list-menu-body li a .label .desc {
  @apply text-sm font-light text-gray-400;
}


/* Card Post */
.card-post {
  @apply flex flex-row gap-8 pl-4
}

.card-post .time-line {
  @apply w-fit relative
}

.card-post .time-line .line {
  @apply w-1 h-full bg-neutral-300
}

.card-post .time-line .circle {
  @apply w-3 h-3 rounded-full bg-emerald-500 
  absolute top-6 -left-1 border-2 border-neutral-100
}

.card-post .blog-item {
  @apply flex flex-col pt-5 pb-8 gap-4
}

.card-post .blog-item p.date-item {
  @apply font-normal text-sm text-gray-700
}

.card-post .blog-item .title-desc {
  @apply flex flex-col gap-1
}

.card-post .blog-item .title-desc a {
  @apply hover:text-emerald-500
}

.card-post .blog-item .title-desc a h4 {
  @apply font-bold
}

/* Card work */
.card-work {
  @apply w-full h-[320px] overflow-hidden
  rounded-lg bg-neutral-100
  bg-no-repeat bg-cover bg-center
}

.card-work .desc {
  @apply grid xl:hidden grid-cols-1 content-end
  min-w-full min-h-full p-4
  bg-gradient-to-t
  from-gray-900 from-0% xl:from-0%
  to-transparent to-65% xl:to-100%
  text-gray-50
}

.card-work:hover .desc {
  @apply grid 
}

/* Card Product */
.card-product {
  @apply flex flex-col p-4 gap-4
  rounded-3xl w-full md:w-[300px]
}

.card-product:hover {
  @apply bg-white shadow-2xl
}

.card-product svg {
  @apply h-20 w-20
}

.card-product .desc {
  @apply flex flex-col gap-2
}

.card-product .desc h4 {
  @apply font-bold
}

/* Tittle section */
.title-section {
  @apply flex flex-row justify-between items-center;
}

.title-section a {
  @apply flex flex-row gap-2 items-center
  font-light hover:font-normal;
}

.title-section a svg {
  @apply hidden
}

.title-section a:hover > svg {
  @apply flex text-emerald-500
}


.tag {
    @apply flex flex-row items-center
    py-1 px-2 text-sm font-light
    rounded-lg border cursor-pointer
    w-fit h-fit select-none 
    border-neutral-300 
}

.section-title {
  @apply text-gray-900
  font-light uppercase select-none
}



.nav {
    @apply w-full flex-row 
    justify-between 
    px-4 pt-4 pb-4 xl:px-8 xl:pb-0
    bg-white lg:bg-none lg:bg-opacity-0
}


.main-narrow-container {
  @apply w-full md:w-[640px] min-h-screen
  px-4 md:px-0 mx-auto 
  flex flex-col items-center
}



.main-container {
  @apply w-full h-full bg-white 
   px-4 md:px-0
}




/* hero section styles */
.hero {
  @apply flex flex-col w-full md:w-[640px]
  mt-3 md:mt-40 mb-4 md:mb-16 gap-14 
}

.hero .status {
  @apply rounded-full
  w-fit py-[10px] px-4
  bg-gradient-to-r from-emerald-100 from-5% to-transparent to-90%
}

.hero .status .status-label {
  @apply flex flex-row gap-3 items-center
}

.hero .status .status-label p {
  @apply text-emerald-900 font-light
}

.hero .status .status-label #box {
  @apply bg-emerald-500 h-3 w-3
}

.hero .status-off {
  @apply rounded-full
  w-fit py-[10px] px-4
  bg-gradient-to-r from-amber-100 from-5% to-transparent to-90%
}

.hero .status-off .status-label {
  @apply flex flex-row gap-3 items-center
}

.hero .status-off .status-label p {
  @apply text-amber-900 font-light
}

.hero .status-off .status-label #box {
  @apply bg-amber-500 h-3 w-3
}

.hero .greetings {
  @apply flex flex-col text-left
  gap-1;
}

.hero .greetings h1 {
  @apply text-gray-900
}

.hero .greetings h4 {
  @apply font-normal text-gray-900
}

.hero .intro {
  @apply font-light text-base md:text-lg
}


.link-text-underline {
  @apply inline-flex gap-1 items-center
  font-semibold text-gray-900
  underline decoration-emerald-500
  underline-offset-4;
}
.link-text-underline:hover {
  @apply text-emerald-700;
}


.section-home {
  @apply flex flex-col w-full md:w-[640px]
  py-14 gap-10
}



/* study cases home section */
.section-home .study-cases-list-home {
  @apply flex flex-col gap-8 md:gap-6 w-full
}


/* blog home section */
.section-home .blog-list-home {
  @apply flex flex-col gap-0 w-full
}



/* side-projects section styles */
.side-projects {
  @apply flex flex-col w-full md:w-[640px]
  mt-8 mb-24 gap-10
}

.side-projects .product-list {
  @apply flex flex-wrap w-full
  gap-10
}


/* Page Blog */
/* header blog section styles */
.header-blog {
  @apply flex flex-col w-full md:w-[640px]
  mt-20 md:mt-32 mb-4 gap-10 pb-6 border-b
  px-4 md:px-0 mx-auto
}

.header-blog .title-desc {
  @apply flex flex-col w-full
  gap-3 justify-center text-center
}

.header-blog .title-desc h1 {
  @apply font-bold text-gray-900
}

.header-blog .title-desc p {
  @apply text-gray-900
}

/* blog list section styles */
.blog-list {
  @apply flex flex-wrap w-full max-h-full md:w-[640px]
  mt-4 md:mt-8 mb-24
}

/* blog list section styles */
.study-case-list {
  @apply flex flex-wrap w-full max-h-full md:w-[640px]
  mt-4 md:mt-8 mb-24 gap-8 md:gap-6
}

/* blog page detail */
.content-show {
  @apply flex flex-col w-full md:w-[640px]
  mt-4 md:mt-28 mb-24 
  gap-6
}

.content-show .thumbnail {
  @apply w-full h-40 md:h-80 overflow-hidden
  rounded-2xl bg-neutral-100
  bg-no-repeat bg-cover bg-center
}

.content-show h1 {
  @apply text-gray-900 font-bold
}

.content-show .content {
  @apply flex flex-col text-gray-900
}

.content-show .content h1 {
  @apply font-bold
  text-2xl md:text-3xl md:leading-9 mt-6
}

.content-show .content h2 {
  @apply font-semibold
  text-xl md:text-2xl md:leading-8 mt-5
}

.content-show .content h3 {
  @apply font-medium
  text-base md:text-lg md:leading-7 mt-4
}

.content-show .content p {
  @apply font-light mt-2.5
}

.content-show .content figcaption {
  @apply text-center text-xs font-extralight
  text-gray-500  mb-4
}

.content-show .content ul {
  @apply list-disc pl-4 pb-4 
}

.content-show .content ul li {
  @apply font-light
}

.content-show .content ol {
  @apply list-decimal pl-4 pb-4 
}

.content-show .content ol li {
  @apply font-light
}

.content-show .content a {
  @apply font-semibold underline
}

/* Page Contact */
/* Contact section styles */
.header-contact {
  @apply flex flex-col w-full md:w-[640px]
  mt-20 md:mt-32 mb-8 gap-10
  px-4 md:px-0 mx-auto
}

.header-contact .title-desc {
  @apply flex flex-col w-full
  gap-3 justify-center text-center
}

.header-contact .title-desc h1 {
  @apply font-bold text-gray-900
}

.header-contact .title-desc p {
  @apply text-gray-900
}

.contact-body {
  @apply w-full h-full mx-auto
}

.contact-header {
  @apply w-full h-full mx-auto
  px-4
}

.cal-contact {
  @apply flex flex-col justify-center
  h-fit w-full
  mt-4 md:mt-12 mb-16 px-4
}

.contact-us {
  @apply flex flex-col w-full md:w-[640px]
  mx-auto pb-20 md:pb-40 gap-10 px-4 md:px-0
}

.contact-us h3 {
  @apply font-bold
}


/* faq section styles */
.faq {
  @apply flex flex-col w-full md:w-[640px]
  mt-4 md:mt-8 mb-24
  gap-10 mx-auto px-4 md:px-0
}

.faq .faq-list {
  @apply flex flex-col w-full
  gap-8
}

.faq .faq-list details {
  @apply relative px-5 py-4
  bg-white rounded-3xl border border-gray-300
}

.faq .faq-list .icon-plus {
  @apply flex cursor-pointer
}

.faq .faq-list details[open] .icon-plus {
  @apply hidden
}

.faq .faq-list .icon-min {
  @apply hidden cursor-pointer
}

.faq .faq-list details[open] .icon-min {
  @apply flex
}

.faq .faq-list details summary {
  @apply flex flex-row gap-4
  justify-between font-semibold
  text-lg select-none
}

/* .faq .faq-list details[open] summary {
  @apply text-emerald-700;
} */

.faq .faq-list details p {
  @apply mt-4 pr-8
   text-gray-700
}


/* Page Works */
/* header blog section styles */
.header-works {
  @apply flex flex-col w-full md:w-[640px]
  mt-20 md:mt-32 mb-4 gap-10 pb-6 border-b
  px-4 md:px-0 mx-auto
}

.header-works .title-desc {
  @apply flex flex-col w-full
  gap-3 justify-center text-center
}

.header-works .title-desc h1 {
  @apply font-bold text-gray-900
}

.header-works .title-desc p {
  @apply text-gray-900
}

.works-list {
  @apply w-full min-h-screen
  mt-4 md:mt-8 mb-24
  px-4 md:px-10 lg:px-16 xl:px-20 2xl:px-16 
  grid
  grid-cols-1 
  md:grid-cols-2 
  xl:grid-cols-3 
  2xl:grid-cols-4 
  gap-8 content-start place-content-center
}



/* Page Links */
/* header section styles */
.link-container {
  @apply w-full md:w-[480px] mx-auto
  pb-24
}

.header-link {
  @apply w-full flex flex-col gap-3 py-16
  justify-center items-center
}

.header-link .desc {
  @apply w-full flex flex-col gap-1
  justify-center items-center
}

.header-link img {
  @apply h-24 w-24 rounded-full
}

.header-link h3 {
  @apply font-bold
}

.list-link {
  @apply flex flex-col gap-10
}

.list-link-section {
  @apply flex flex-col gap-4
}

.list-link-section h5{
  @apply font-medium
}

.list-link-section ul {
  @apply flex flex-col gap-3
}

.btn-link {
  @apply p-4 w-full flex flex-row justify-between
  border border-neutral-300 rounded-xl font-medium
}

.btn-link:hover {
  @apply border-neutral-900 bg-emerald-400
}&&

.btn-link svg {
  @apply opacity-30 
}

.btn-link:hover svg {
  @apply opacity-100
}

.link-with-icon {
  @apply flex flex-row gap-4 items-center
}


/* footer

.footer-narrow-container {
  @apply w-full md:w-[640px] justify-between
  px-4 md:px-0 mx-auto 
  flex flex-col md:flex-row items-center
}

.footer {
  @apply gap-4;
}

.footer .links {
  @apply flex flex-wrap gap-x-4 gap-y-2 md:gap-y-3;
}

.footer .links .special-link {
  @apply flex flex-row items-center
  gap-1;
}

.footer .links .special-link .link-icon-text {
  @apply inline-flex gap-1 items-center
  font-normal text-gray-500
}
.footer .links .special-link .link-icon-text:hover {
  @apply text-emerald-500;
} */

/* Card Study Case */
.card-study-case {
  @apply w-full min-h-max
  hover:transition duration-200 ease-in 
  hover:-ml-2 hover:-mt-1 hover:mb-1 hover:mr-2
}

.card-study-case .card {
  @apply flex flex-col-reverse 
  md:flex-row w-full h-full gap-4 rounded-3xl 
  overflow-hidden hover:bg-neutral-50 
  p-2 md:p-6 
  hover:drop-shadow-[0_28px_28px_rgba(0,0,0,0.25)]
}

.card-study-case .card .desc {
  @apply flex flex-col gap-4 md:gap-0 md:justify-between
  w-full md:w-1/2
}

.card-study-case .card .thumbnail {
  @apply w-full h-60 md:w-1/2 
  bg-no-repeat bg-cover bg-center rounded-2xl
}

/* header page styles */
.header-page {
  @apply flex flex-col w-full md:w-[640px]
  mt-20 md:mt-32 mb-4 gap-10 pb-6 border-b
  px-4 md:px-0 mx-auto
}

.header-page .title-desc {
  @apply flex flex-col w-full
  gap-3 justify-center text-center
}

.header-page .title-desc h1 {
  @apply font-bold text-gray-900
}

.header-page .title-desc h5 {
  @apply mt-2 font-light text-neutral-400
}

.header-works .title-desc p {
  @apply text-gray-900
}