---
import HomeLayout from "../layouts/HomeLayout.astro";
import HeaderBlog from "../components/HeaderBlog.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./blog/*.md");
const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
});
---

<HomeLayout pageTitle='Afrian’s Blog: Articles about design, software development, lifestyle, etc.'>
  <main id='home' class='home-body'>
    <HeaderBlog />
    <section class='blog-list h-full'>
      {
        sortedPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            img={post.frontmatter.image.url}
            date={post.frontmatter.pubDate}
          />
        ))
      }
    </section>
  </main>
</HomeLayout>
