---
import Layout from "../layouts/BaseLayout.astro";
import HeaderBlog from "../components/organisms/HeaderBlog.astro";
import CardPost from "../components/organisms/CardPost.astro";
import Nav from "../components/organisms/Nav.astro";

const allPosts = await Astro.glob("./blog/*.md");
const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
});
---

<Layout pageTitle='Afrian’s Blog: Articles about design, software development, lifestyle, etc.'>
  <Nav selected='blog' />
  <main id='home' class='main-narrow-container'>
    <HeaderBlog />
    <section class='blog-list'>
      {
        sortedPosts.map((post) => (
          <CardPost
            url={post.url}
            title={post.frontmatter.title}
            date={post.frontmatter.pubDate}
            desc={post.frontmatter.description}
          />
        ))
      }
    </section>
  </main>
</Layout>
