---
import Layout from "../layouts/BaseLayout.astro";
import HeaderContact from "../components/organisms/HeaderContact.astro";
import CardFAQ from "../components/organisms/CardFAQ.astro";
import Nav from "../components/organisms/Nav.astro";
---

<Layout pageTitle='Book A Call with Afrian'>
  <Nav selected='contact' />
  <main id='home' class='contact-body'>
    <HeaderContact />
    <section class='cal-contact'>
      <div
        class='w-screen h-auto mx-auto'
        style='width:100%;height:100%;overflow:scroll'
        id='my-cal-inline'
      >
      </div>
    </section>
    <section class='faq'>
      <h5 class='section-title'>Frequently Asked Questions</h5>
      <div class='faq-list'>
        <CardFAQ
          q='What kind of services do you offer?'
          a=`I'm offering services: UI/UX Design, Web Developement, Brand Identity, Icon Design.`
        />
        <CardFAQ
          q='What is the average time required to complete a project?'
          a='It depends on the type of project and complexity. For example, UI/UX design for a website with five pages could be completed in less than one week.'
        />
        <CardFAQ
          q='Can I collaborate on just one type of service among all the services you offer?'
          a=`Yes, you can choose only what you need, whether it's UI/UX design, web development, or something else.`
        />
        <CardFAQ
          q='What do I need to prepare before starting a project with you?'
          a=`Feel free to book a free call with me or send a message. We'll have a consultation session to determine if our collaboration is necessary.`
        />
        <CardFAQ
          q='Do you provide support or updates after the completion of a project?'
          a=`It depends on the contract deal. Once everything in the contract is completed, you can re-hire me again.`
        />
      </div>
    </section>
  </main>
</Layout>

<!-- Cal inline embed code begins -->

<script type='text/javascript'>
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api;
            p(cal.ns[namespace], ar);
            p(cal, ["initNamespace", namespace]);
          } else p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", "15min", { origin: "https://cal.com" });

  Cal.ns["15min"]("inline", {
    elementOrSelector: "#my-cal-inline",
    config: { layout: "month_view" },
    calLink: "afrian/15min",
  });

  Cal.ns["15min"]("ui", {
    styles: { branding: { brandColor: "#000000" } },
    hideEventTypeDetails: false,
    layout: "month_view",
  });
</script>
<!-- Cal inline embed code ends -->
