---
import Layout from "../layouts/BaseLayout.astro";
import HeaderWorks from "../components//organisms/HeaderPortfolio.astro";
import CardWork from "../components/organisms/CardPortfolio.astro";
import Nav from "../components/organisms/Nav.astro";

const allPosts = await Astro.glob("./blog/*.md");
const sortedPosts = allPosts.sort((a, b) => {
  return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
});
---

<Layout
  pageTitle=`Whether you’re looking to refine an existing product or bring a new idea to life, I’m ready to partner with you. Let's create something impactful, together.`
>
  <Nav selected='works' />
  <main id='home' class='flex-grow flex flex-col'>
    <HeaderWorks />
    <section class='works-list'>
      <CardWork
        urlImg='https://res.cloudinary.com/melesat/image/upload/v1666946419/visualo_r9jti8.png'
        company='Alura'
        urlTo='http://portfolio.afrian.cc'
      />
      <CardWork
        urlImg='https://res.cloudinary.com/melesat/image/upload/v1666946422/lumra_e8ew9w.png'
        company='Visilo'
        urlTo='http://portfolio.afrian.cc'
      />
      <CardWork
        urlImg='https://res.cloudinary.com/melesat/image/upload/v1666947386/lorikon_irttld.png'
        company='Cantara'
        urlTo='http://portfolio.afrian.cc'
      />
    </section>
  </main>
</Layout>
