---

---

<footer>
  <div class='footer'>
    <div class='footer-left'>
      <a href='/'>Home</a>
      <a href='http://work.afrian.cc'>Work</a>
      <a href='/blog'>Blog</a>
      <a href='/#products'>Product</a>
      <a href='/contact'>Contact</a>
    </div>
    <div class='footer-right'><span>©2024 All rights reserved.</span></div>
  </div>
</footer>
