---

---

<footer>
  <div class='footer'>
    <div class='footer-left'>
      <a href='/'>Home</a>
      <a href='/project' target='_blank'>Projects</a>
      <a href='/blog' target='_blank'>Blog</a>
      <a href='/products' target='_blank'>Products</a>
      <a href='/booking'>Contact</a>
    </div>
    <div class='footer-right'><span>©2024 All rights reserved.</span></div>
  </div>
</footer>
