---
import mailIcon from "/svg/mail.svg?raw";
---

<section class='header-contact'>
  <div class='title-desc'>
    <h1>Booking A Call</h1>
    <p>Here is my meeting schedule available, email and phone number (WhatsApp).</p>
  </div>
  <div class='flex flex-row justify-between items-center'>
    <div class='flex flex-row items-center gap-3'>
      <a href='/'>Home</a>
      <p>{">"}</p>
      <a href='/blog'>Blog</a>
    </div>
    <div class='subscribe'>
      <a class='btn-icon-text' href='/' target='_blank'>
        <span>Subscribe</span>
        <Fragment set:html={mailIcon} />
      </a>
    </div>
  </div>
</section>
