---

---

<nav class='fixed w-full z-50'>
  <div id='nav-hamburger' class='nav flex z-50'>
    <div id='hamburger' class='btn-icon-text'>
      <svg
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M4 12H20M4 6H20M4 18H20'
          stroke='#171717'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'></path>
      </svg>
      <span>MENU</span>
    </div>
    <a class='btn-text' href='/contact' target='_blank' rel='noopener noreferrer'>BOOK A CALL</a>
  </div>
  <div id='menu' class='hidden z-50 bg-neutral-900 h-screen flex-col relative'>
    <div class='absolute flex flex-row items-center justify-between w-full px-16 py-4'>
      <div id='menu-hamburger' class='btn-icon-text-secondary'>
        <svg
          width='22'
          height='22'
          viewBox='0 0 22 22'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M16.5 5.5L5.5 16.5M5.5 5.5L16.5 16.5'
            stroke='white'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'></path>
        </svg>
        <span>CLOSE</span>
      </div>
      <a
        class='btn-text text-neutral-900 mr-4'
        href='/contact'
        target='_blank'
        rel='noopener noreferrer'>BOOK A CALL</a
      >
    </div>
    <div
      class='w-full h-full grid grid-cols-1 justify-items-center content-center gap-12 text-white font-normal text-4xl'
    >
      <a href='/'>Home</a>
      <a href='/blog'>Blog</a>
      <a href='/'>Projects</a>
      <a href='/'>Products</a>
      <a href='/'>Contact</a>
    </div>
  </div>
</nav>
