---
const { icon, linkTo, title, label } = Astro.props;
---

<div class='special-link'>
  <span class='title'>{title}:</span>
  <a class='link-icon-text' href={linkTo} target='_blank'>
    <Fragment set:html={icon} />
    <span class='underline'>{label}</span>
  </a>
</div>
