---
const { productLogo, productName, productDesc, productUrl } = Astro.props;
---

<a class='card-product' href={productUrl} target='_blank'>
  <Fragment set:html={productLogo} />
  <div class='desc'>
    <h4>{productName}</h4>
    <p>{productDesc}</p>
  </div>
</a>
