---
import mailIcon from "/svg/mail.svg?raw";
import waIcon from "/svg/whatsapp.svg?raw";
---

<section class='header-contact'>
  <div class='title-desc'>
    <h1>Booking A Call</h1>
    <p>
      here are some ways to reach me out: First, you can use Cal event that I put below to make a
      face-to-face appointment and second, you can send me a message to my email & whatsapp chat.
    </p>
  </div>
  <div class='flex flex-row justify-between items-center'>
    <div class='flex flex-row items-center gap-3'>
      <a href='/'>Home</a>
      <p class='text-gray-300'>{">"}</p>
      <a href='/contact'>Contact</a>
    </div>
    <div class='flex flex-row items-center gap-3'>
      <a
        class='btn-icon-secondary'
        href='mailto:hello.afrian@gmail.com?subject=Interesting To Colaborate'
      >
        <Fragment set:html={mailIcon} />
      </a>
      <a class='btn-icon-secondary' href='https://wa.me/6281273134321' target='_blank'>
        <Fragment set:html={waIcon} />
      </a>
    </div>
  </div>
</section>
