---

---

<section class='header-works'>
  <div class='title-desc'>
    <h1>Afrian’s Works</h1>
    <p>
      Whether you’re looking to refine an existing product or bring a new idea to life, I’m ready to
      partner with you. Let's create something impactful, together.
    </p>
  </div>
  <div class='flex flex-row gap-3 items-center'>
    <a href='/'>Home</a>
    <p class='text-gray-300'>{">"}</p>
    <a href='/Works'>Works</a>
  </div>
</section>
