---
import PrimaryButton from "../atoms/PrimaryButton";
import MenuNav from "../molecules/MenuNav";
import MenuNavMobile from "../molecules/MenuNavMobile";

const { selected } = Astro.props;
---

<nav>
  <div class='menu'>
    <MenuNav defaultSelected={selected} client:load />
    <PrimaryButton linkURL='/contact' label='Book A Call' />
  </div>
  <div class='menu-mobile'>
    <button id='menu' class='btn-menu'>
      <p>Menu</p>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='lucide lucide-chevron-down'><path d='m6 9 6 6 6-6'></path></svg
      >
    </button>
    <div id='menu-body' class='hidden'>
      <MenuNavMobile defaultSelected={selected} client:load />
      <PrimaryButton linkURL='/contact' label='Book A Call' />
    </div>
  </div>
</nav>

<script>
  const menuHam = document.getElementById("menu");
  const menuMobileBody = document.getElementById("menu-body");
  let valueHam = true;

  menuHam?.addEventListener("click", () => {
    if (valueHam) {
      valueHam = false;
      menuMobileBody?.classList.remove("hidden");
      menuMobileBody?.classList.add("flex");
      menuHam.innerHTML = `<p>Menu</p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>`;
    } else {
      valueHam = true;
      menuMobileBody?.classList.add("hidden");
      menuMobileBody?.classList.remove("flex");
      menuHam.innerHTML = `<p>Menu</p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>`;
    }
  });
</script>
